html {
    background: rgb(183,143,203);
    background: linear-gradient(346deg, rgba(183,143,203,1) 0%, rgba(203,153,199,1) 35%, rgba(239,187,205,1) 100%);
    background-attachment: fixed; /* sets gradient to full background instead of repeating */
}

.title {
    width: 250px;
    background-color: white;
    border-radius: 1em;
    box-shadow: 5px 5px 5px rgb(156, 156, 156);
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #CB99C7;
    font-weight: 500;
    font-style: italic;
}

.title-position {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}